h1{
    text-align: center;
  }
  main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 60px;
  }

  #floatingInput{
    margin-bottom: 30px;
  }
  .h3{
    text-align: center;
  }
  main{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }